<h1>KSLWatcher</h1>
<div id='intro' class='nice-box'>
  <p class='nice-box-header'>
    Welcome to the KSLWatcher!
  </p>

  <% if current_user.has_new_listings? %>
    <div class='good-news-box'>
      You have <%= link_to "#{listings_not_reviewed_count} new listings!", listings_path(show_filter: :not_yet_seen) %>
    </div>
  <% end %>

<div id='other-links' class='nice-box'>
  <%= link_to "Searches", searches_url, class: 'btn btn-default' %>
  <%= link_to "Your Watched Listings", listings_path(show_filter: :watch), class: 'btn btn-default' %>
  <%= link_to "Listings", listings_path, class: 'btn btn-default' %>
  <%= link_to 'Run Searches on KSL','', remote: true, class: 'btn btn-default', id: 'run-search-button' %>
</div>

